@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Press+Start+2P&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    font-family: "Press Start 2P", sans-serif;
    @apply bg-rose-600;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

h1 {
    font-family: "Press Start 2P", sans-serif;
    text-align: center;
}

p {
    font-family: "Press Start 2P", sans-serif;
    @apply text-slate-700 text-center;
    font-size: 16px;
}

.actionButton {
  @apply w-full md:w-auto m-4 p-3 rounded-md bg-sky-700 text-white 
  hover:text-black hover:bg-sky-600 text-center;
}